---
import sugar from "sugar";
import { ExternalUrls } from "~/core/urls";
import { Routes } from "~/core/routes";
import { Metadata } from "~/core/metadata";
import FooterLink from "~/components/base/FooterLink.astro";
import FooterSecondaryLink from "~/components/base/FooterSecondaryLink.astro";
---

<footer>
    <hr />

    <div class="u-container py-6 text-center text-sm">
        <p class="mb-1">
            Made by
            <span class="text-primary-500">{Metadata.title}</span>
        </p>

        <div class="mb-1 flex flex-wrap justify-center">
            <FooterLink name="Source Code" link={ExternalUrls.ghRepo} />
            <FooterLink name="Articles RSS" link={Routes.articles.rss} />
        </div>

        <div class="text-secondary-500">
            <p class="mb-1">
                Licensed under
                <FooterSecondaryLink
                    name="Apache 2.0"
                    link={ExternalUrls.ghRepoLicense}
                />
                and
                <FooterSecondaryLink
                    name="CC BY 4.0"
                    link={ExternalUrls.ghRepoContentLicense}
                />
            </p>
            <p>Last built at {sugar.Date.format(new Date())}</p>
        </div>
    </div>
</footer>
