---
import { Icon } from "astro-icon/components";
import { Utils } from "~/core/utils";

interface Props {
    name: string;
    description: string;
    link: string;
    image: string;
    tags: string[];
    backgroundColor: string;
}

const { name, description, link, image, tags, backgroundColor } = Astro.props;
---

<div
    class:list={[
        "u-container md:min-h-screen u-flex pt-28 md:pt-32 pb-16 md:pb-32 u-flex !flex-col",
        backgroundColor,
    ]}
    id="project-item"
>
    <img
        class="max-h-[40%] max-w-[60%] sm:max-w-[40%]"
        src={image}
        alt={`${name}'s logo`}
        loading="lazy"
    />
    <p
        class="pt-24 text-lg text-center"
        set:html={Utils.renderSimpleMarkdown(description)}
    />
    <a
        class="group mt-1 border-b border-white/30 hover:border-white transition duration-200"
        href={link}
        target="_blank"
    >
        {link}
        <Icon
            class="inline-block text-white/30 group-hover:text-white transition duration-200"
            name="mdi:arrow-top-right"
        />
    </a>
    <div
        class="u-flex flex-wrap mt-2 gap-2 text-xs text-white/50 hover:text-white transition duration-200"
    >
        {tags.map((x) => <p>#{x}</p>)}
    </div>
</div>
