---
import { StaticAssets } from "~/core/urls";
import Item from "~/components/home/TechnologyItem.astro";
---

<div class="pt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <Item name="Node.js" image={StaticAssets.nodejs} type="Language" />
    <Item name="JavaScript" image={StaticAssets.javascript} type="Language" />
    <Item name="Typescript" image={StaticAssets.typescript} type="Language" />
    <Item name="HTML" image={StaticAssets.html} type="Language" />
    <Item name="CSS" image={StaticAssets.css} type="Language" />
    <Item name="Dart" image={StaticAssets.dart} type="Language" />
    <Item name="Kotlin" image={StaticAssets.kotlin} type="Language" />
    <Item name="Go" image={StaticAssets.go} type="Language" />
    <Item name="Bash" image={StaticAssets.bash} type="Language" />

    <Item name="Flutter" image={StaticAssets.flutter} type="App Framework" />
    <Item
        name="Jetpack Compose"
        image={StaticAssets.compose}
        type="App Framework"
    />
    <Item name="Electron" image={StaticAssets.electron} type="App Framework" />
    <Item name="Vue" image={StaticAssets.vue} type="UI Framework" />
    <Item
        name="Tailwind CSS"
        image={StaticAssets.tailwindcss}
        type="CSS Framework"
    />
    <Item name="MongoDB" image={StaticAssets.mongodb} type="Database" />
    <Item name="SQL" image={StaticAssets.sqlite} type="Database" />

    <Item name="Windows" image={StaticAssets.windows} type="Operating System" />
    <Item name="Linux" image={StaticAssets.linux} type="Operating System" />
    <Item name="Git" image={StaticAssets.git} type="Version Control" />
    <Item name="VS Code" image={StaticAssets.vscode} type="Editor" />
    <Item name="Figma" image={StaticAssets.figma} type="Graphic Design" />
    <Item name="Podman" image={StaticAssets.podman} type="Containerization" />
</div>
